body{
    margin: 0;
    background-color:#056679;
    font-family: sans-serif;
    
}
.input-section{
    background-color: azure;
    padding: 18px;
    border-radius: 10px;
    box-shadow: 0 4px 6px #00000066;

}
h1{
margin: 0;
margin-bottom: 15px;

}

.todo-container{
    text-align: center;
    width: 350px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

ul{

    text-align: left;
    padding: 0;
}
ul li{
    list-style: none;
    background-color: rgba(255, 255, 255, 0.753);
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 10px;
    box-shadow: 0 4px 6px #00000066;
    display: flex;
    
}

ul li i{
    text-align: right;
    flex: 1;
    cursor: pointer;
}
.input-section input{
    border-radius: 5px;
    border: 1px solid rgb(223, 220, 220);
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

